div#awstats .aws_border { border-collapse: collapse; background-color: #CCCCDD; padding: 1px 1px 1px 1px; margin-top: 0px; margin-bottom: 0px; }
div#awstats .aws_title  { font: 13px verdana, arial, helvetica, sans-serif; font-weight: bold; background-color: #CCCCDD; text-align: center; margin-top: 0; margin-bottom: 0; padding: 1px 1px 1px 1px; color: #000000; }
div#awstats .aws_blank  { font: 13px verdana, arial, helvetica, sans-serif; background-color: #CCCCDD; text-align: center; margin-bottom: 0; padding: 1px 1px 1px 1px; }
div#awstats .aws_data {
  background-color: #FFFFFF;
  border-top-width: 1px;   
  border-left-width: 0px;  
  border-right-width: 0px; 
  border-bottom-width: 0px;
}
div#awstats .aws_button {
  font-family: arial,verdana,helvetica, sans-serif;
  font-size: 12px;
  border: 1px solid #ccd7e0;
  background-image : url(/wp-admin/images/icon/other/button.gif);
}
div#awstats th.aws  { border-color: #ECECEC; border-left-width: 0px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 1px; padding: 1px 2px 1px 1px; font-size: 13px; font-weight: bold; }
div#awstats td.aws  { border-color: #ECECEC; border-left-width: 0px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 1px; font: 11px verdana, arial, helvetica, sans-serif; text-align:left; color: #000000; padding: 0px;}
div#awstats td.awsm { border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; border-bottom-width: 0px; font: 11px verdana, arial, helvetica, sans-serif; text-align:left; color: #000000; padding: 0px; }
.currentday { font-weight: bold; }


div#awstats .aws_formfield { font: 13px verdana, arial, helvetica; }
div#awstats b { font-weight: bold; }
div#awstats a { font: 11px verdana, arial, helvetica, sans-serif; }
div#awstats a:link    { color: #0011BB; text-decoration: none; }
div#awstats a:visited { color: #0011BB; text-decoration: none; }
div#awstats a:hover   { color: #605040; text-decoration: underline; }

div#awstats th    { border-color: #ECECEC; border-left-width: 0px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 1px; padding: 1px 2px 1px 1px; font: 11px verdana, arial, helvetica, sans-serif; text-align:center; color: #000000; }
div#awstats td    { border-color: #ECECEC; border-left-width: 0px; border-right-width: 1px; border-top-width: 0px; border-bottom-width: 1px; font: 11px verdana, arial, helvetica, sans-serif; text-align:center; color: #000000; }
div#awstats body { font: 11px verdana, arial, helvetica, sans-serif; background-color: #FFFFFF; margin-top: 0; margin-bottom: 0; }
